body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 3em;
}

.blue-color {
    color: royalblue;
    font-weight: bold;
}

.flexible-container {
    display: flex;
    margin-bottom: 10em;
}

.half-width {
    width: 50%;
    padding-left: 3%;
    padding-right: 3%;
}

.half-width img {
    width: 80%;
    padding-top: 5%;
    margin: auto;
    display: block;
}

.link-button {
    text-decoration: none;
    background: rgb(1,112,152);
    background: linear-gradient(41deg, rgba(1,112,152,1) 0%, rgba(0,212,255,1) 100%);
    color: white;
    font-weight: 600;
    padding: 10px 40px;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 10vw;
}

section h1 {
    text-align: center;
    margin-bottom: 1em;
}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-shadow {
    box-shadow: 5px 10px 30px gray;
    width: 40%;
    margin: 0 5%;
    padding: 2% 5%;
    border-radius: 10px;
}

#full-stack {
    border-left: 7px solid;
    background: linear-gradient(#eee, #ddd) padding-box, linear-gradient(to right, #9c20aa, #fb3570) border-box;
    color: #313149;
    border-image: linear-gradient(dodgerblue, salmon);
    border-image-slice: 1;
}

#baby-stack {
    border-left: 7px solid;
    background: linear-gradient(#eee, #ddd) padding-box, linear-gradient(to right, #9c20aa, #fb3570) border-box;
    border-image: linear-gradient(royalblue ,lightblue);
    color: #313149;
    border-image-slice: 1;
}

footer p {
    text-align: center;
    font-family: 'Yomogi', cursive;
}

@media screen and (max-width: 850px) {
    .flexible-container {
        display: block;
    }

    .half-width {
        width: 96%;
        padding: 1em;
        overflow: hidden;
        text-align:center;
    }

    .half-width h1 {
        font-size: 2em;
    }

    .link-button {
        display: block;
        margin: 20px;
        text-align: center;
    }

    /*
    .half-width img {
        position: relative;
        left: 10%;
    }
    */

    .half-width img {
        margin: auto;
        display: block;
    }

    section h1 {
        font-size: 2em;
        text-align: center;
    }

    .experience-shadow {
        display: block;
        width: 80%;
        margin: auto auto 2em auto;
    }


}